.grid {
	/*Paramètres de la grille*/
	display: grid;
	grid-template-columns: 250px 805px 128px 127px 130px;
	grid-template-rows: 130px 100px 620px 190px;
	margin: auto;
}

/*Différents paramètres de textes retrouvés*/
.text1 {
	color: #FFF;
	font-family: Amiri;
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.text2 {
	color: #FFF;
	font-family: Amiri;
	font-size: 25px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

/*Trois décalages utilisés à plusieurs endroits sur le site*/
.decalage1 {
	margin-left: 30px;
}

.decalage2 {
	margin-left: 120px;
}

ul {
	/*On retire les puces des listes car on ne les utilise jamais sur le site*/
	list-style-type: none;
}

.change:hover {
	/*Permet de changer le curseur et l'opacité des éléments cliquables*/
	opacity: 0.50;
	cursor: pointer;
}

#volet {
	/*Bordure et couleurs du volet de navigation*/
	border: 10px solid #000;
	background-color: #22171D;
	list-style-type: none;
}

.volet-dans-grille {
	/*Position du volet dans la grille*/
	grid-column: 1;
	grid-row: 3 / 5;
	margin-top: -16px;
}

#volet li {
	/*Alignement vertical des éléments de la liste*/
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: auto;
}

.fa-circle {
	/*Cercle jaune derrière les icônes du volet*/
	font-size: 133px;
	color: #EE8617;
	margin: 32px 0;
	margin-right: 40px;
	position: relative;
	text-decoration: none;
}

.icone {
	/*Position des différents icônes (avec le texte) par dessus les cercles jaunes*/
	position: absolute;
	pointer-events: none;
	margin-right: 40px;
}

#contenu {
	/*Positions du contenu principale dans la brille et fond de celui-ci*/
	grid-row-start: 2;
	grid-row-end: 5;
	grid-column: 2;
	border: 10px solid #000;
	background: linear-gradient(#8D0701, #3B0301);
}

#adresse {
	/*Premier cadre du contenu principal pour l'adresse de facturation*/
	border: 10px solid #000;
	background-color: #22171D;
	margin-right: 90px;
}

#bouton-modifier {
	/*Différentes caractéristiques du bouton "modifier" dans l'adresse de facturation*/
	position: absolute;
	margin-top: 107px;
	margin-left: 250px;
	font-family: Amiri;
	font-size: 30px;
	border-radius: 10px;
	border: 5px solid #000;
	color: #000;
	background: linear-gradient(#ee8617, #ce7211);
}

#carte,
#paypal {
	/*Taille des icônes de cartes bancaires et Paypal*/
	height: 10%;
	width: auto;
}

#paiement {
	/*Deuxième cadre du contenu principal pour la zone des informations bancaires*/
	border: 10px solid #000;
	background-color: #22171D;
	margin-right: 90px;
}

.case {
	/*Taille de la checkbox pour sauvegarder la carte*/
	width: 28px;
	height: 28px;
}

.saisie {
	/*Format des différentes zones de saisie*/
	border: 2px solid #000;
	background-color: #22171D;
	color: #FFF;
	font-family: Amiri;
	font-size: 25px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	height: 28px;
}

#secu {
	/*Taille et position de la zone de saisie pour le code de sécurité de la carte*/
	width: 3em;
	margin-left: 90px;
}

#recap {
	/*Fond du volet de droite*/
	border: 10px solid #000;
	background: linear-gradient(#8D0701, #3B0301);
}

#recap-dans-grille {
	/*Position du volet de droite dans la grille*/
	grid-row: 2 / 5;
	grid-column: 3 / 6;
	margin-top: -25px;
}

.croix {
	/*Croix permettant de retirer un article*/
	position: absolute;
	margin-top: -35px;
	margin-left: 250px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.image-produit {
	/*Taille des images des produits et changement de curseur quand on passe par dessus*/
	cursor: pointer;
	width: 50%;
	height: auto;
}

#payer {
	/*Position du bouton payer dans le recap*/
	margin-top: 18px;
    margin-left:30px;
}

.decalage-ligne {
	/*Décalage utilisé pour les lignes de séparation du récap*/
	margin-left: -40px;
}

#promo {
	/*Paramètres du texte "Code promotionnel"*/
	text-decoration: underline;
	margin-left: 25px;
}

#promo2 {
	/*Paramètres de la zone de saisie du code promotionnel*/
	margin-left: 15px
}

.promo { /*Format de la zone de saisie du code promotionnel*/
	border: 4px ridge #ee8617;
	background-color: #22171D;
	color: #FFF;
	font-family: Amiri;
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	height: 28px;
	width: 10em;
	margin-left: -25px;
}


/*Elément commun de Samuel Caignet*/

/* Conteneur header : positionné dans la grille, style visuel et centrage */
.entête {
    display: flex;
    grid-column: 2 / 5;
    grid-row: 1 / 2;
    width: 100%;
    border: 10px solid #000;
    background: #5E0400;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0 20px;
    box-sizing: border-box;
}

/* Titre principal : flex pour centrer texte horizontalement et verticalement */
#étape-actuelle {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: Amiri;
    font-size: 40px;
    font-weight: 700;
    white-space: nowrap;
    height: 70.773px;
    margin: 0 10px;
    text-align: center;
    line-height: normal;
    min-width: 200px;
}

/* Ligne continue avant et après le texte "étape-actuelle" */
.ligne-continue {
    display: inline-block;
    vertical-align: middle;
    width: 100px;
    border-bottom: 2px solid #707070;
    margin: 0 5px;
}

/* Texte cliquable "panier" et "code(s) d'activation" */
.étape {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Amiri;
    font-size: 30px;
    font-weight: 700;
    white-space: nowrap;
    height: 70.773px;
    margin: 0;
    text-align: center;
    cursor: pointer;
    color: #707070;
    min-width: 150px;
}

.étape:hover {
    color: #de9548;
    /*nouvelle couleur si on passe la souris dessus*/
}



/*éléments communs de Luca Larrarte*/
.logo-dans-grille {
    grid-row: 1;
    grid-column: 1;
}

.image-logo {
    width: 261px;
    height: 230px;
    margin-right: 60px;

}

.rectangle-icone {
    border: 10px solid #000;
    background: #5E0400;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110px;
    width: auto;
    margin-top: 0px;
}

.cercle-compte {
    font-size: 108px;
    color: #EE8617;
    position: relative;
    margin-top: 32px;
}

/* CSS Icone du compte*/
.position-compte {
    grid-row: 1;
    grid-column: 5;
}

#icone-compte {
    position: absolute;
    pointer-events: none;
}

.compte1 {
    margin-top: -50px;
    margin-left: -120px;
    pointer-events: none;
}

.compte2 {
    margin-top: -50px;
    margin-left: -135px;
    pointer-events: none;
}

.texte-compte1 {
    position: absolute;
    width: 90px;
    color: #000;
    font-family: Amiri;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: -133px;
    pointer-events: none;
}

.texte-compte2 {
    position: absolute;
    width: 90px;
    color: #000;
    font-family: Amiri;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: -148px;
    pointer-events: none;
}

/* CSS Icone de notifications */
.position-notif {
	grid-column: 4;
	grid-row: 1;
}

.texte-notification {
	position: absolute;
	width: 90px;
	height: 26.206px;
	color: #000;
	font-family: Amiri;
	font-size: 15px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-top: 70px;
	margin-left: 5px;
}

.notification {
	margin-bottom: 35px;
	size: 100px;
}

.pop-up-1 {
	margin-left: 30px;
	margin-bottom: 80px;
	size: 100px;
}

#icone-notification-1 {
	position: absolute;
}

#icone-notification-2 {
	position: absolute;
}







/*Ecran Samuel*/
/* entête: nom du groupe*/
.entête2 {
    grid-column: 2;
    grid-row: 1;
    border: 10px solid #000;
    background: #5E0400;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    filter: blur(2px);
    z-index: 0;
}

h1 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    color: #EE8617;
    font-family: Amiri;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*liste des groupes qui seront mis en flou*/
#liste-groupe {
    border: 10px solid #000;
    background-color: #8D0701;
    filter: blur(2px);
    grid-column: 3 / 5;
    grid-row: 2 / 5;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    overflow-y: visible;
    margin-right: -15%;
}

/*le carré représentant tout les groupes*/
.fa-solid.fa-square {
    width: 150px;
    height: 125px;
    border-radius: 0;
    font-size: 125px;
    color: #EE8617;
    position: relative;
    left: 1px;
    display: inline-block;
}

/*paramétrer tous les noms de groupe*/
.texte-groupe {
    position: relative;
    width: 50px;
    height: 165px;
    color: #FFF;
    font-family: Amiri;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
}

/*fond*/
.fond {
    border: 10px solid #000;
    background-color: #3B0301;
    display: flex;
    grid-column: 2 / 3;
    grid-row: 2 / 5;
}

/*cacher le texter*/
.cacher-texte {
    overflow: hidden;
}


/* le formulaire*/
#formulaire {
    width: 740px;
    height: 947px;
    border-radius: 20px;
    border: 10px solid #000;
    background: #3B0301;
    position: relative;
    z-index: 100;
    margin-left: -1035px;
    margin-top: 50px;
    position: relative;
}

/*je positionne et paramètre le titre du formulaire*/
h2 {
    position: relative;
    color: #EE8617;
    font-family: Amiri;
    font-size: 48px;
    font-weight: 700;
    width: 635px;
    height: 88px;
    margin: 0 auto;
    text-align: center;
    display: block;
    width: 635px;
}

/*block pour entré le nom du groupe*/
#nom-groupe {
    background-color: #8D0701;
    border: 10px solid #000;
    width: 310px;
    height: auto;
    display: flex;
    align-items: center;
    padding: 0 10px;
    gap: 10px;
    margin-top: 100px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -50px;

}

/* zone de texte pour enter le nom du groupe*/
#nom-group {
    height: 40px;
    font-size: 24px;
    padding: 5px;
    box-sizing: border-box;
    vertical-align: middle;
    background-color: #22171D;
    border: 10px solid #000;
    color: #FFF;
}

.intitulé {
    color: #FFF;
    font-family: Amiri;
    font-size: 32px;
    margin: 0;
    padding: 0;
    margin-left: -200px;
}

/*position de la photo de groupe*/
#pp-groupe-generale {
    position: relative;
    top: 50px;
}

#pp-groupe {
    display: block;
    margin: 0 auto;
}

.pp-groupe-label {
    display: block;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 50%;
    overflow: hidden;
    width: 150px;
    height: 150px;
    border: 3px solid #FFF;
}

/*image de prévisualisation de la photo du groupe*/
.pp-groupe-label img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 50%;
}

.pp-groupe-label .preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/*volet déroulant pour choisir si le groupe est privé ou publique*/
#privé-publique {
    position: relative;
    top: 100px;
    background-color: #8D0701;
    border: none;
    color: white;
    text-align: center;
    padding: 5px 10px;
    font-family: Amiri;
    font-size: 16px;
    width: 249px;
    height: 32px;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
}

/*volet déroulant pour choisir le type du groupe*/
#type {
    position: relative;
    top: 50px;
    background-color: #8D0701;
    border: none;
    color: white;
    text-align: center;
    padding: 5px 10px;
    font-family: Amiri;
    font-size: 16px;
    width: 249px;
    height: 32px;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
}


.chat-container {
    position: relative;
    top: 150px;
    display: flex;
    align-items: center;
    background-color: #36393f;
    border-radius: 20px;
    padding: 10px 15px;
    max-width: 600px;
    margin: 0 auto;
}

.chat {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
    resize: none;
    outline: none;
    font-family: amiri;
    min-height: 40px;
    max-height: 100px;
    padding: 8px 12px;
    border-radius: 15px;
}

.message-button {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    margin-left: 10px;
    transition: color 0.2s ease;
}

.message-button:hover {
    color: #7289da;
}

/*boutton pour valider*/
.button1 button {
    background-color: #EE8617;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 188px;
    height: 93px;
}

.button1 button:hover {
    background-color: #17ee29
}

/*boutton pour annuler*/
.button2 button {
    background-color: #EE8617;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 188px;
    height: 93px;
}

.button2 button:hover {
    background-color: #f11313
}

/*Ecran de Luca Larrarte*/
.boite-salon {
	width: 308px;
	height: 710px;
	background: linear-gradient(#8D0701, #3B0301);
	border: 10px solid black;
	margin-top: 130px;
}

.h2-salon {
	width: 126px;
	color: #EE8617;
	font-family: Amiri;
	font-size: 50px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-left: 90px;
	pointer-events: none;
}

.ligne-salon {
	width: 308px;
	height: 4px;
	background: #000;
	pointer-events: none;
}

.texte-boite-salon {
	width: 267px;
	color: #FFF;
	font-family: Amiri;
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-left: 20px;
	pointer-events: none;
}

.boite-personnage {
	width: 308px;
	height: 710px;
	background: linear-gradient(#8D0701, #3B0301);
	border: 10px solid black;
	margin-top: -730px;
	margin-left: 400px;
}

.h2-personnage {
	width: 126px;
	color: #EE8617;
	font-family: Amiri;
	font-size: 50px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-left: 30px;
	pointer-events: none;
}

.ligne-personnage {
	width: 308px;
	height: 4px;
	background: #000;
	pointer-events: none;
}

.texte-boite-personnage {
	width: 267px;
	color: #FFF;
	font-family: Amiri;
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-left: 20px;
	pointer-events: none;
}

.boite-boutique {
	width: 308px;
	height: 710px;
	background: linear-gradient(#8D0701, #3B0301);
	border: 10px solid black;
	margin-left: 790px;
	margin-top: -730px;
}

.h2-boutique {
	width: 126px;
	color: #EE8617;
	font-family: Amiri;
	font-size: 50px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-left: 50px;
	pointer-events: none;
}

.ligne-boutique {
	width: 308px;
	height: 4px;
	background: #000;
	pointer-events: none;
}

.texte-boite-boutique {
	width: 267px;
	color: #FFF;
	font-family: Amiri;
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-left: 20px;
	pointer-events: none;
}

#html-accueil {
	background: url("Images/CK3Fond.png") no-repeat;
	background-size: cover;

	background-size: cover;
	background-position: center;

	width: 1729px;
	height: 1249px;

}

.h1-accueil {
	color: white;
	font-family: Amiri;
	font-size: 95px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	width: 700px;
	height: 150px;


	-webkit-text-stroke-width: 4px;
	-webkit-text-stroke-color: black;
	font-weight: bold;
	grid-row: 2/4;
	grid-column: 2/3;
	margin-left: 270px;
	margin-top: 180px;
}