.grid {		/*Paramètres de la grille*/
	display: grid;
	grid-template-columns: 250px 805px 128px 127px 130px;
	grid-template-rows: 130px 100px 620px 190px;
	margin:auto;
}

/* CSS du logo du site*/
.rectangle-logo {
	grid-column: 1;
	grid-row:1 /3;
	width: 254.15px;
	height: 218px;
	border: 10px solid #000;
	background: #22171D;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.image-logo {
	width: 165.901px;
	height: 231.468px;
	aspect-ratio: 165.90/211 .47;
	margin-left: 40.5px;
	margin-right: 47.6px;

}

.texte-logo1 {
	position: relative;
	width: 183px;
	height: 47.551px;
	transform: rotate(-90deg);
	color: white;
	font-family: Amiri;
	font-size: 35px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	left: -70px;
	top: -190px;

}

.texte-logo2 {
	position: relative;
	width: 183px;
	height: 47.551px;
	transform: rotate(-90deg);
	color: white;
	font-family: Amiri;
	font-size: 35px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	right: -120px;
	top: -270px;
}

/* CSS des icones */

.rectangle-icone {
	border: 10px solid #000;
	background: #5E0400;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

	display: flex;
	align-items: center;
	justify-content: center;
}

.fa-solid.fa-circle {
	border-radius: 50%;
	font-size: 108px;
	color: #EE8617;
	border: 3px;
	position: relative;
}

.fa-solid.fa-circle:hover {
	/*Permet de changer le curseur et l'opacité des éléments cliquables*/
	opacity: 0.50;
	cursor: pointer;
}


/* CSS Icone du compte*/
.position-compte {
	grid-row: 1;
	grid-column: 5;
}

#icone-compte {
	position: absolute;
	margin-bottom: 25px;
	pointer-events: none;
	width: 50px;
}

.texte-compte {
	position: absolute;
	width: 90px;
	height: 26.206px;
	color: #000;
	font-family: Amiri;
	font-size: 15px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-top: 70px;
	margin-left: 5px;
	pointer-events: none;
}

/* CSS Icone de notifications */
.position-notif {
	grid-column: 4;
	grid-row: 1;
}

.texte-notification {
	position: absolute;
	width: 90px;
	height: 26.206px;
	color: #000;
	font-family: Amiri;
	font-size: 15px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-top: 70px;
	margin-left: 5px;
	pointer-events: none;
}

.notification {
	margin-bottom: 35px;
	size: 100px;
	pointer-events: none;
}

.pop-up-1 {
	margin-left: 30px;
	margin-bottom: 80px;
	size: 100px;
	pointer-events: none;
}

#icone-notification-1 {
	position: absolute;
}

#icone-notification-2 {
	position: absolute;
}

