/*entête pour le nom du salon*/
header {
    grid-column:2;
    grid-row:1;
    border: 10px solid #000;
    background: #5E0400; 

}

/*conteneur h1: il contient Nom du salon*/
h1{ 
    color: #EE8617;
    font-family: Amiri;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 30px;
}


/*création de la grille*/
.grid {	
	display: grid;
	grid-template-columns: 250px 805px 128px 127px 130px;
	grid-template-rows: 130px 100px 620px 190px;
}
